body {
/* BACKGROUND IMAGE EDITING */
	background-image: url('https://www.aiscribbles.com/img/variant/large-preview/8591/?v=a22068');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    width: 100%;
    overflow: auto;
/* TEXT EDITING  */
    text-align: center;
    color:white;
    font-weight: bold;
}
   

/* ============================ CONTAINER ============================ */

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* ============================ NEW EVENT FORM ============================ */

.event-form {
    flex: 1;
    width: 500px;
    height: 275px;
    background-color: rgba(255, 255, 255, 0.4); /* To match the table's background color */
    padding: 20px;
    overflow-y: auto;
    color: black;
    border: 2px solid black;
}

.event-form label {
    display: block;
    margin-top: 1px;
    color: black;
}

.event-form input {
    width: 60%;
    height: 30px;
    border: 2px solid black;
}

.form-title {
    font-size: 30px;
    margin-bottom: 15px;
    color: black;
    text-align: center;
    font-weight: bold;
}
/* ============================ EVENTS-TABLE ============================ */

.table-container {
    display: flex;
    justify-content: center;
    max-height: 275px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.events-table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.4);
    color:black;
}

.events-table th, .events-table td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
}

.events-table th {
	font-size: 30px;
	
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* ============================ EVENT-NAME ============================ */


.event-name {
    transition: color 0.3s ease; 
    cursor: pointer; 
}

.event-name:hover {
    color: #DA70D6; 
    text-decoration: underline; 
}

/* ============================ EVENT-IMAGE ============================ */

.event-image {
    width: 60%;
    height: auto;
    align-content: center;
}

/* ============================ EVENT-DESCRIPTION ============================ */

.event-description {
	background-color: black;
	font-size: 20px;
}


/* ============================ BTN-PRIMARY ============================ */
.btn-primary {
    margin-bottom: 20px;
}

/* ============================ MODAL-CONTENT ============================ */

.modal-content {
    border-radius: 0.5rem; /* Rounded corners for the modal */
}