<h1>Neighborly</h1>
<h4>A place for you to view upcoming events
  and chat with your neighbors!</h4>
  <br>
  <br>
  <form>
    <input type="text" name="name" [(ngModel)]="newEvent.name" placeholder="Event Name">
    <button (click)="addEvent()">Add Event</button>
  </form>


  <!-- TODO build this as a table -->
  <table class="table tables-striped table-hover">
    <thead class ="table-dark">

      <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
        <th>Mark</th>
        <th>Attending</th>
        <th>Last Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td>{{event.name}}</td>
        <td>{{event.description}}</td>
        <img [src]="event.imageUrl" alt="{{ event.name }} image"
              [width]="575"
              [height]="350">
        <td><input type="checkbox"></td>
        <td>{{event.attendance}}</td>
        <td>{{event.lastUpdate}}</td>
        <td><button (click)="deleteEvent(event.id)">Delete</button></td>
      </tr>
    </tbody>
   </table>



